registry=https://pkgs.dev.azure.com/organization/_packaging/registry/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/organization/_packaging/registry/npm/registry/:username=username
//pkgs.dev.azure.com/organization/_packaging/registry/npm/registry/:_password="password"
//pkgs.dev.azure.com/organization/_packaging/registry/npm/registry/:email=email
//pkgs.dev.azure.com/organization/_packaging/registry/npm/:username=username
//pkgs.dev.azure.com/organization/_packaging/registry/npm/:_password="password"
//pkgs.dev.azure.com/organization/_packaging/registry/npm/:email=email
; end auth token